language: cpp
compiler:
- gcc
- clang
env:
  global:
  - GCC_VERSION="4.9"
  - secure: LFKc1bBqloBGsKfPmnuy3qmf4Jhl28YmOf4rQkOEFdoSUfJb9l3csE76VFn7rb8hI7tVUIkM2CfeiUtKAZj6wuH6p7VnskAUAX1quxsn6LGOVcFkVpCL0QPmwF1UFcO2W2uauAEfNjebaPJAJDu2d1bn/GQpp+vNwqaQMNXE61w=
  matrix:
  - BUILD_TYPE=Debug
  - BUILD_TYPE=Release
before_install:
- if [ "$CXX" == "g++" ]; then sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test;
  fi
- if [ "$CXX" == "clang++" ]; then sudo add-apt-repository -y ppa:h-rayflood/llvm;
  fi
- sudo apt-get update -qq
- git submodule update --init --recursive
install:
- if [ "$CXX" = "g++" ]; then sudo apt-get install -qq "g++-${GCC_VERSION}"; fi
- if [ "$CXX" = "g++" ]; then export CXX="g++-${GCC_VERSION}" CC="gcc-${GCC_VERSION}";
  fi
- if [ "$CXX" == "clang++" ]; then cwd=$(pwd); fi
- if [ "$CXX" == "clang++" ]; then export CXXFLAGS="-std=c++0x -stdlib=libc++"; fi
- if [ "$CXX" == "clang++" ]; then svn co --quiet http://llvm.org/svn/llvm-project/libcxx/trunk
  libcxx; fi
- if [ "$CXX" == "clang++" ]; then cd libcxx/lib && bash buildit; fi
- if [ "$CXX" == "clang++" ]; then sudo cp ./libc++.so.1.0 /usr/lib/; fi
- if [ "$CXX" == "clang++" ]; then sudo mkdir /usr/include/c++/v1; fi
- if [ "$CXX" == "clang++" ]; then cd .. && sudo cp -r include/* /usr/include/c++/v1/;
  fi
- if [ "$CXX" == "clang++" ]; then cd /usr/lib && sudo ln -sf libc++.so.1.0 libc++.so;
  fi
- if [ "$CXX" == "clang++" ]; then sudo ln -sf libc++.so.1.0 libc++.so.1 && cd $cwd;
  fi
- wget http://apt.biicode.com/install.sh && chmod +x install.sh && ./install.sh
- bii setup:cpp
- bii --version
- bii init
script:
- bii find
- bii cpp:configure -G "Unix Makefiles" -DCMAKE_CXX_COMPILER=$(which $CXX) -DCMAKE_BUILD_TYPE=$BUILD_TYPE
- bii cpp:build
- "./bin/manu343726_snail_test"
deploy:
  provider: biicode
  user: manu343726
  password:
    secure: D+KebyVKL+LGd05Wpz/WOdQZAKc7RyTY7H+DGpO54TlD8N5WrhV2HKmqrFjMKEB8GZ4WNoDGRVH/WcwhgTipjf+o/UVgk43glSq3C3D+hoETCoorqLuXvYp7Fiv3q4QICDE/3TXHPlnEiUBTYJFH+OwEQnZO0gnr1tKGcZFmEv0=
